* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0C0C0A;
  color: #A69A84;
}

a {
  text-decoration: none;
  color: #F33143;
  transition: .5s;
}

a:hover {
  color: #D80D1A;
}

